*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 100px;
	z-index: 10;
	background: #5b639c;
}

header .logo{
	position: relative;
	font-size: 1.5em;
	color: #fff;
	font-weight: 600;
}

header .navigation{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px 0;
}

header .navigation li{
	list-style: none;
	margin: 0 10px;
}

header .navigation li a{
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
}

header .navigation li a:hover{
	color: #ffeb3b;
	transition: 0.5s;
}

header .search{
	position: relative;
	width: 300px;
	height: 40px;
}

header .search input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background: transparent;
	outline: none;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 0 10px 0 45px;
}

header .search input::placeholder{
	color: #fff;
}

header .search img{
	width: 44px;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
	display: block;
	padding: 8px 10px 10px 10px
}

.banner{
	background: #434978;
	padding: 200px 100px 100px;
	max-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner .content{
	max-width: 700px;
}

.banner .content h2{
	font-size: 2.5em;
	color: #fff;
}

.banner .content p{
	font-size: 1em;
	color: #fff;
	letter-spacing: 2px;
}

.banner .content a{
	display: inline-block;
	background: #fff;
	color: #434978;
	padding: 8px 20px;
	font-weight: 600;
	margin-top: 20px;
}

.banner .image{
	filter: invert(10%);
	max-width: 400px;
	margin-left: 50px;
	border-radius: 500px;
}





.club-footer{
	-ms-flex-negative: 0;
flex-shrink: 0;
padding-top: 3em;
color: #d6d6d6;
background: -webkit-gradient(linear,left top,left bottom,from(#0d0d0d),color-stop(85.65%,rgba(13,13,13,0))),radial-gradient(30.28% 113.82% at 26.49% 110.06%,rgba(6,195,255,.2) 0,rgba(0,102,255,0) 100%),radial-gradient(28.44% 103.87% at -1.18% 105.47%,rgba(97,131,129,.3) 0,rgba(0,199,211,0) 100%),radial-gradient(61.25% 146.44% at 100.8% 105.47%,rgba(255,0,168,.3) 0,rgba(192,17,70,0) 100%),radial-gradient(44.72% 104.88% at 74.34% 104.88%,rgba(0,163,255,.3) 0,rgba(83,3,253,0) 78.14%),#0d0d0d;
background: linear-gradient(180deg,#0d0d0d,rgba(13,13,13,0) 85.65%),radial-gradient(30.28% 113.82% at 26.49% 110.06%,rgba(6,195,255,.2) 0,rgba(0,102,255,0) 100%),radial-gradient(28.44% 103.87% at -1.18% 105.47%,rgba(97,131,129,.3) 0,rgba(0,199,211,0) 100%),radial-gradient(61.25% 146.44% at 100.8% 105.47%,rgba(255,0,168,.3) 0,rgba(192,17,70,0) 100%),radial-gradient(44.72% 104.88% at 74.34% 104.88%,rgba(0,163,255,.3) 0,rgba(83,3,253,0) 78.14%),#0d0d0d;
}

.club-footer .footer-container{
	padding-right: 5.6em;
	padding-bottom: 3em;
	padding-left: 5.6em;
	background-repeat: no-repeat;
	background-position-x: calc(100% + 50px);
	background-position-y: 120px;
}

.FooterUtilityMenu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 2em;
	font-size: 16px;
}

.FooterUtilityMenu .socials{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: UbisoftSans,sans-serif;
	font-weight: 700;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.FooterUtilityMenu .socials .SocialLinkList{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: .3em;
}

.FooterUtilityMenu .socials .SocialLinkList a{
    margin-left: .5rem;
}

.nice-link{
	color: #006ef5;
	font-family: Roboto,sans-serif;
		text-decoration: none;
	-webkit-transition: color .15s ease-in-out;
	transition: color .15s ease-in-out;
}

.FooterUtilityMenu .language-selector {
    min-width: 200px;
    margin-left: 20px;
}

.btn-select.dark, .btn-select.dark select{
    color: #d6d6d6;
}

.btn-select{
	display: inline-block;
    position: relative;
    color: #dbdbdb;
}

.btn-select .select-icon {
    position: absolute;
    top: 50%;
    right: 5%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    pointer-events: none;
}

.btn-select.dark select{
    color: #d6d6d6;
}

.btn-select select{
	 display: inline-block;
    width: 100%;
    padding: .75em 2.25em .75em 1.5em;
    color: #515151;
    border: 1px solid #999;
    border-radius: 2.5rem;
    background: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.25em;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select{
	 word-wrap: normal;
}

.club-footer .footer-separator {
    margin-bottom: 3em;
    border-top-color: hsla(0,0%,100%,.3);
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
    border-top: 1px solid rgba(51,51,51,.1);
        border-top-color: rgba(51, 51, 51, 0.1);
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.FooterUtilityMenu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2em;
    font-size: 16px;
}

.club-footer .footer-copyright{
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 8px;
	color: #d6d6d6;
	border-radius: 8px;
	background-color: #121212;
	font-size: .75em;
}

.club-footer .footer-container .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.FooterMainMenu {
    margin-bottom: 2em;
}

.FooterMainMenu .Menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.FooterMainMenu .Menu .MenuLink {
    margin-right: 3em;
}

.FooterMainMenu .Menu .link {
    padding: 0;
    color: #d6d6d6;
    font-family: UbisoftSans,sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}



.FooterSecondaryMenu {
    margin-bottom: .5em;
}

.FooterSecondaryMenu .Menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.MenuLink {
    margin-bottom: .5rem;
}

.FooterSecondaryMenu .Menu .link {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0 3rem 0 0;
    color: #d6d6d6;
    background: none;
    font-size: 1em;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}










@media (max-width: 991px){
	header{
		flex-direction: column;
	}
	.banner{
		padding: 150px 20px 20px;
		flex-direction: column-reverse;
	}

	.banner .image{
		margin-left: 0;
		max-width: 50%;
	}

	.banner .content h2{
		font-size: 2em;
		color: #fff;
	}
}

@media (max-width: 768px){

	header{
		flex-direction: initial;
		padding-left: 15px;
	}

	header .navigation{
		display: none;
	}

	header .search{
		display: none;
	}

	.banner{
		padding-top: 100px;
	}	

	.banner .image{
		max-width: 50%;
		margin-bottom: 50px;
	}
}

@media (max-width: 600px){
	header .search{
		width: 100%;
	}

	.banner .image{
		margin-left: 0;
		max-width: 80%;
		margin-top: 30px;
	}
}

@media (max-width: 350px){
	.banner .content h2{
		font-size: 1.7em;
	}

	.banner .content p{
		font-size: 0.9em;
	}

	.club-footer .footer-container{
		padding-left: 20px;
		padding-right: 20px;
	}
}


